/**
 * 自定义样式
 */

:root {
  --vp-c-brand: #ffa41c;
  --vp-c-brand-light: #ffb84d;
  --vp-c-brand-lighter: #ffcc7a;
  --vp-c-brand-dark: #e69316;
  --vp-c-brand-darker: #cc8212;
}

/* YouTube 视频容器 */
.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 1rem 0;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
